$primary: #3860ED;
$primaryHover: #12329C;
$secondary: #D0FA61;
$secondaryHover: #ADE118;
$third: #102A7D;
$thirdHover: #1c388f;
$errorPrimary: #E32A3A;
$errorSecondary: rgba(227, 42, 58, 0.1);
$grey: #ACB2BE;
$darkBlue: #102A7D;
$dark: #141F43;
$disabled: #d9d9d9;
$grayBorder: #d9d9d9;
$f700: "JetBrainsMonoExtraBold";


